<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Dashboard</title>
</head>
<body>
    <%- include("./partials/header") %>
    <main>
        <div class="container">
            <div class="main">
                <button>
                    <a href="/json">JSON</a>
                </button>
            </div>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>